<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.appletpromote.mapper.TbApiCommonMapper">
  <resultMap id="BaseResultMap" type="com.promote.appletpromote.entity.ApiGames">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="applet_name" jdbcType="VARCHAR" property="appletName" />
    <result column="link_ghid" jdbcType="INTEGER" property="linkGhid" />
    <result column="logo_img" jdbcType="TIMESTAMP" property="logoImg" />
  </resultMap>

  <select id="getAppletByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT tb_client_applet.`id`,
    tb_client_applet.`serial_number`,
    tb_client_applet.`applet_name`,
    tb_client_applet.`link_ghid`,
    tb_client_applet.`logo_img`
    FROM
    tb_client_applet
    LEFT JOIN `tb_type_client_applet`
    ON tb_type_client_applet.`client_applet_id` = tb_client_applet.`id`
    WHERE tb_type_client_applet.`type_id` = #{id,jdbcType=INTEGER}
  </select>

</mapper>