<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.appletpromote.mapper.TbTypesMapper">
  <resultMap id="BaseResultMap" type="com.promote.appletpromote.entity.TbTypes">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>


  <resultMap id="TypeResultMap" type="com.promote.appletpromote.entity.ApiTypes">
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
  </resultMap>


  <sql id="Base_Column_List">
    id, title, logo_url, serial_number, create_time, update_time, create_user, update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_types
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByParam" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_types
    <where>
      <if test="title != null">
         title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        AND  logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        AND serial_number = #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        AND create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </where>
  </select>

  <select id="getTpyes" parameterType="com.promote.appletpromote.entity.TbTypes" resultMap="TypeResultMap">
    select
    tb_types.id,tb_types.`title`,tb_types.`logo_url`,tb_types.`serial_number`
    from tb_types
    <where>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        AND  logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        AND serial_number = #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        AND create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </where>
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_types
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.promote.appletpromote.entity.TbTypes">
    insert into tb_types (id, title, logo_url, 
      serial_number, create_time, update_time, 
      create_user, update_user)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR}, 
      #{serialNumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.promote.appletpromote.entity.TbTypes">
    insert into tb_types
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="logoUrl != null">
        logo_url,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.promote.appletpromote.entity.TbTypes">
    update tb_types
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.promote.appletpromote.entity.TbTypes">
    update tb_types
    set title = #{title,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>