<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.appletpromote.mapper.TbUvClickMapper">
  <resultMap id="BaseResultMap" type="com.promote.appletpromote.entity.TbUvClick">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="ghid" jdbcType="VARCHAR" property="ghid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="own_applet_id" jdbcType="VARCHAR" property="ownAppletId" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, ghid, create_time, update_time, own_applet_id, appid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_uv_click
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryParm" parameterType="com.promote.appletpromote.entity.TbUvClick" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_uv_click
    <where>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR}
      </if>
      <if test="ghid != null">
        AND ghid = #{ghid,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="ownAppletId != null">
        AND own_applet_id = #{ownAppletId,jdbcType=VARCHAR}
      </if>
      <if test="appid != null">
        AND appid = #{appid,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_uv_click
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.promote.appletpromote.entity.TbUvClick">
    insert into tb_uv_click (id, openid, ghid, 
      create_time, update_time, own_applet_id, 
      appid)
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{ghid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{ownAppletId,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.promote.appletpromote.entity.TbUvClick">
    insert into tb_uv_click
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="ghid != null">
        ghid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ownAppletId != null">
        own_applet_id,
      </if>
      <if test="appid != null">
        appid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="ghid != null">
        #{ghid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ownAppletId != null">
        #{ownAppletId,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.promote.appletpromote.entity.TbUvClick">
    update tb_uv_click
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="ghid != null">
        ghid = #{ghid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ownAppletId != null">
        own_applet_id = #{ownAppletId,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.promote.appletpromote.entity.TbUvClick">
    update tb_uv_click
    set openid = #{openid,jdbcType=VARCHAR},
      ghid = #{ghid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      own_applet_id = #{ownAppletId,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>